{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIC TAC TOE AI</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}" defer></script>
    <script>
        // Pass the CSRF token to JavaScript
        const csrfToken = '{{ csrf_token }}';
    </script>
</head>
<body>
    <h1>Tic Tac Toe AI</h1>
    
    <div id="game-board"></div>
    {% csrf_token %}
    <button id="restart">Restart</button>
</body>
</html>


